#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hermes-panel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:12px;
  border-radius: 8px;
  padding: 12px;
  position: absolute;
  filter: drop-shadow(0 0 10px #452563);
  --arrow-offset: -4px;
}

.hermes-panel::after{
  position: absolute;
  top: var(--arrow-offset);
  left: 50%;
  content: '';
  width: 8px;
  height: 8px;
  transform-origin: 50% 50%;
  transform: translateX(-50%) rotate(45deg) ;
  background-color: inherit;
}
